<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../../styles.css">
    <script src="https://kit.fontawesome.com/362d290da8.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js"></script> 
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js"> </script>


    <title>Services - SQuant</title>

</head>
<body>

  
    <!--HEADER SECTION-->
    <section id="header">

        <a href="#"><h2>SQuant</h2></a>

        <div>
            <ul id="navbar">
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
                <li><a href="./../../index.html">Home</a></li>
                <li><a href="./../Services/Services.html"  class="active" >Services</a></li>
                <li><a href="./../Indicators/Indicators.html">Indicators</a></li>
                <li><a href="./../About/About.html">about</a></li>
                <li><a href="./../Contact/Contact.html">contact</a></li> 
                <li><a href="https://t.me/SoHFTT" class="btns" target="_blank"><i class="fa-brands fa-telegram"></i></a>             
            </ul>         
        </div>
        
        <div id="mobile">           
            <i id="bar" class="fa-solid fa-bars"></i>
        </div>
        
    </section>

    <section id="page-header" class="about-header">
        <h2>#Services</h2>
        <p>Learn more about our services</p>
    </section>

    <section id="about-head" class="section-p1">
        <img src="./../../Img/banner1.jpg" alt="">
        <div>
            <h2>¿Do you have a tool in mind that can help you improve your operations, but don't know how to program it?</h2>
            <p>We Can Develop it for you!, our team has extensive knowledge in the development of tools integrated to NinjaTrader, TradingView and Sierra Charts. </p>
           
            <a href=""><button class="normal">Contact Us</button></a>
        </div>
    </section>

 



    <!--FOOTER SECTION-->
    <footer class="section-p1" id="footer">

        <div class="col">
           
            <h4>Contact</h4>
            <p><strong>Address:</strong> Carrera 57 # 24-13, Medellin, Antioquia</p>
            <p><strong>Phone:</strong> +57 3102035300</p>
            <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>

            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icons">
                    <a href="https://twitter.com/SergioFT0318" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/squant404/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>               
            </div>
        </div>

        <div class="col">            
                <h4>About</h4>
                <a href="./../About/#">About Us</a>                      
                <a href="./../../index.html">Privacy Policy</a>           
                <a href="./../../index.html">Terms & Conditions</a>           
                <a href="./../Contact/Contact.html">Contact Us</a>           
        </div>



        <div class="copyrights">
            <p>Copyright 2022 SQuant. All Rights Reserved.</p>
        </div>
    </footer>



    <script src="./../../script.js"></script>
</body>
</html>